<div class="relative">
  <div class="absolute inset-0 bg-cover bg-center bg-fixed z-0"
    style="background-image: url('/assets/img/iStock-480003814.png');">
  </div>

  <div
    class="relative z-10 background h-[45vh] bg-green-200 flex flex-col items-center pt-6 sm:pt-12 md:pt-16 lg:pt-32">

    <div class="w-4/5 flex justify-start font-Verdana font-bold text-xs underline text-white"><span
        class="flex gap-2 cursor-pointer"><img src="/assets/img/home_2.svg"> Ir al inicio</span></div>
    <p class="text-white sm:text-xl md:text-2xl lg:text-2xl font-montserrat font-bold text-center mt-8 sm:mt-1">
      {{ firstSectionText.successMessage }}
    </p>
    <p class="text-slate-100 text-sm sm:text-base md:text-lg lg:text-base font-Verdana text-center mt-4 sm:mt-1">
      {{ firstSectionText.emailNotification }}
    </p>

  </div>

  <div class="relative z-10 imgback items-center justify-center h-[85vh] mb-[-2rem] sm:mb-[-3rem]">
    <div
      class="text-center text-custom-black font-montserrat flex flex-col items-center pt-12 sm:pt-16 md:pt-20 lg:pt-52">
      <p class="sm:text-xl md:text-2xl lg:text-2xl font-bold">
        {{ secondSectionText.goalMessage }}
        <span class="text-orange-400">{{ secondSectionText.amount }}</span>
        {{ secondSectionText.encouragementMessage }}
        <span class="text-orange-400">{{ secondSectionText.goal }}</span>
        !
      </p>
      <p class="font-Verdana text-sm sm:text-base md:text-lg lg:text-lg mt-3">
        {{ secondSectionText.actionMessage }}
        <br />
        <span class="font-bold text-xs sm:text-sm md:text-base lg:text-lg flex justify-center gap-1">
          {{ secondSectionText.actionPrompt }}
          <img src="/assets/img/Group_12953.svg" alt="">
        </span>
      </p>
    </div>
  </div>

  <div
    class="absolute left-1/2 transform -translate-x-1/2 bg-white w-[90%] sm:w-4/5 md:w-2/3 lg:w-2/5 h-auto max-w-[91vw] md:h-[37vh] shadow-lg rounded-xl top-[27vh] sm:top-[27vh] md:top-[27vh] lg:top-[30vh] z-20">
    <app-review-objetive></app-review-objetive>
  </div>

  <div class="sm-resp  relative z-20 mt-[-18rem] lg:px-14">
    <app-slider></app-slider>
    <div class="flex justify-center mt-10 pb-10">
      <input
        class="text-base bg-gray-200 w-full sm:w-1/2 md:w-1/4 rounded-full p-3 font-montserrat font-bold text-custom-black"
        type="button" value="ASOCIAR OBJETIVO">
    </div>
  </div>

</div>

<app-banner />
