<footer class="bg-white text-custom-black py-8 p-20  mb-14">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">

      <div class="flex flex-col items-start font-Verdana text-sm  text-custom-black">
        <img src="/assets/img/Group_123.svg" alt="Logo" class="w-32 h-auto mb-6">
        <p class="text-sm mb-6">{{ footerText.copyright }}</p>
        <p>PBX: <span class="text-Verdana font-bold">{{ footerText.pbx }}</span></p>
        <p>Línea nacional <span class="text-Verdana font-bold">{{ footerText.nationalLine }} </span></p>
        <p>{{ footerText.corporateLine }}</p>
        <p>{{ footerText.address }}</p>
        <p>{{ footerText.city }}</p>
        <p class="font-bold">{{ footerText.offices }}</p>
      </div>

      <div class="flex flex-col  justify-end">
        <span class="underline text-custom-black text-sm font-Verdana">
          {{ footerText.terms }}
        </span>
      </div>

      <div class="flex justify-end items-end space-x-8">
        <a href="#" class="text-custom-black text-2xl">
          <img src="/assets/img/facebookl.svg" alt="Facebook" class="w-8 h-8">
        </a>
        <a href="#" class="text-custom-black text-2xl">
          <img src="/assets/img/youtube.svg" alt="Twitter" class="w-8 h-8">
        </a>
        <a href="#" class="text-custom-black text-2xl">
          <img src="/assets/img/twitter.svg" alt="Instagram" class="w-8 h-8">
        </a>
      </div>

    </div>
  </div>
</footer>
