<div class="custom-margin-top relative w-full overflow-hidden md:mt-0 min-[320px]:mt-60  ">
  <div class="flex transition-transform duration-500 ease-in-out" [style.transform]="getTransform()">
    <div class="flex-none w-full sm:w-1/2 md:w-2/6 lg:w-2/6 xl:w-1/4 p-2" *ngFor="let card of cards">
      <div class="card bg-white rounded-lg shadow-md p-4 border hover:border-Verdana mx-auto">

        <div class="flex justify-end mt-2 mb-5 w-full">
          <label class="inline-flex items-center">
            <input type="checkbox" class="hidden peer">
            <div
              class="w-6 h-6 border-2 border-Verdana rounded peer-checked:bg-Verdana peer-checked:border-transparent">
            </div>
          </label>
        </div>

        <h3 class="text-custom-black font-bold font-montserrat text-lg">{{ card.nameProduct }}</h3>
        <p class="text-custom-black text-lg font-medium font-montserrat">#{{ card.numberProduct}}</p>
        <hr class="border-t-2 border-gray-300 pt-5 mt-6 mb-5">
        <p class="text-custom-black text-lg font-bold font-montserrat">Ya cuenta con:</p>
        <p class="text-lg font-montserrat font-semibold text-Verdana">{{ card.balanceProduct | currency }}</p>

        <div class="relative mt-12 bg-gray-200 p-6 text-base text-center">
          <div class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 p-2">
            <img [src]="card.icon">
          </div>
          <span class="text-xs font-Verdana"> <span [innerHTML]="card.detaildProduct | highlightPercentage"></span>
          </span>
        </div>

      </div>
    </div>

    <div class="flex-none w-full sm:w-1/2 md:w-2/6 lg:w-2/6 xl:w-1/4 p-2 rounded-lg">
      <div class="card rounded-lg shadow-md border hover:border-Verdana hover:border-2 mx-auto">
        <div class="relative w-full h-auto rounded-md">
          <img src="/assets/img/Group_12973@2x.png" alt="Group" class="w-full h-96">
          <button (click)="onButtonClick()"
            class="bg-Verdana absolute z-50 text-white font-montserrat text-sm font-bold rounded-full p-2 transform  underline left-6 top-1/3 ">
            EXPLORA AHORA
          </button>
        </div>
      </div>
    </div>

  </div>

  <button class="absolute top-1/2 transform -translate-y-1/2 bg-opacity-50 p-2 rounded-full z-30" (click)="prevSlide()"
    [ngClass]="{'opacity-50 cursor-not-allowed': isPrevDisabled}">
    <img src="{{isPrevDisabled ? '/assets/img/Group_disabled.svg' : '/assets/img/Group_9764.svg'}}" alt="Previous"
      class="w-10 h-10 rotate-180">
  </button>

  <button class="absolute right-4 top-1/2 transform -translate-y-1/2 bg-opacity-50 p-2 rounded-full z-30"
    (click)="nextSlide()" [ngClass]="{'opacity-50 cursor-not-allowed': isNextDisabled}">
    <img src="{{isNextDisabled ? '/assets/img/Group_disabled.svg' : '/assets/img/Group_9764.svg'}}" alt="Next"
      class="w-10 h-10">
  </button>
</div>
